body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

header img {
    height: 80px;
}

main {
    padding: 20px;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

legend {
    font-size: 1.2rem;
    padding: 0 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 10px;
    text-align: center;
}

select,
input[type="text"],
input[type="email"],
textarea {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #444;

}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}